name: Docker Build on Self-Hosted Runner

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Docker version
        run: docker --version

      - name: Build Docker image
        run: docker build -t ci-cd-demo:latest .
